<div class="show-items">
  <app-list-items>
    <button *appItem>Aceptar</button>
    <button *appItem>Cancelar</button>
  </app-list-items>

  <app-list-items [typeItem]="'BUTTON'" [fill]="true">
    <button *appItem>Aceptar</button>
    <button *appItem>Aceptar</button>
    <div *appItem>
      ETIQUETA
    </div>
    <button *appItem>Cancelar</button>
  </app-list-items>

  <app-list-items [direction]="'v'">
    <div *appItem>
      CAMPOS
    </div>
    <input type="text" value="enter" *appItem />
    <input type="text" value="nombre" *appItem />
    <input type="text" value="apellido" *appItem />

    <button *appItem>Cancelar</button>
  </app-list-items>

  <app-list-items [confListItems]="{ listItems: { align: 'end center' } }">
    <button *appItem>Aceptar</button>
    <button *appItem>Aceptar</button>

    <div *appItem>
      ETIQUETA
    </div>
    <button *appItem>Cancelar</button>
    <div *appItem>
      <app-list-items [direction]="'v'">
        <div *appItem>LABEL A</div>
        <div *appItem>LABEL B</div>
        <div *appItem>LABEL C</div>
        <div *appItem>LABEL D</div>
      </app-list-items>
    </div>
  </app-list-items>
</div>
