<ng-template #header>
  <app-layout-main [type]="'CARD'" class="filter">
    <app-list-items [direction]="'h'" [confListItems]="{}" fxFlex="none" class="fill" *appMain>
      <div *appItem>
        CAMPOS
      </div>
      <input type="text" value="enter" *appItem />
      <input type="text" value="nombre" *appItem />
      <input type="text" value="apellido" *appItem />
    </app-list-items>
    <app-list-items *appFooter>
      <button *appItem>Anterior</button>
      <button *appItem>Siguiente</button>
    </app-list-items>
    <div *appHeader="let data=data ; let name=name">
      FILTRO EJEMPLO {{data}}--{{name}}
    </div>
  </app-layout-main>
</ng-template>

<app-layout-main [headerTemp]="header" [aside.right.width]="'20%'" [aside.left.width]="'auto'">
  <app-list-items [direction]="'v'" *appMain>
    <ng-container *ngFor="let d of datos">
      <app-list-items *appItem>
        <div *appItem>NOMBRE{{ d }}</div>
        <div *appItem>APELLIDOS{{ d }}</div>
        <div *appItem>DIRECCION{{ d }}</div>
        <div *appItem>TELEFONO{{ d }}</div>
      </app-list-items>
    </ng-container>
    <app-list-items *appItem>
      <button *appItem>Anterior</button>
      <button *appItem (click)="next()">Siguiente</button>
    </app-list-items>
  </app-list-items>
  <div *appAsideLeft class="">
    <app-layout-main [type]="'CARD'">
      <div *appHeader>
        NOMBRE RES
      </div>
      <div *appMain>
        MAIN_____
      </div>
      <app-list-items *appFooter>
        <button *appItem>aceptar</button>
        <button *appItem>cancelar</button>
      </app-list-items>
    </app-layout-main>
  </div>
  <div *appAsideRight class="">
    <app-layout-main [type]="'CARD'">
      <button *appHeader class="fill">RES</button>
      <div *appMain>
        MIan
      </div>

      <div *appAsideRight>
        Other
      </div>

      <div *appFooter>
        OKKKKK
      </div>
    </app-layout-main>
  </div>
  <app-list-items *appFooter>
    <a hef="#" *appItem>LINK</a>
    <a hef="#" *appItem>LINK</a>
    <a hef="#" *appItem>LINK</a>
    <a hef="#" *appItem>LINK</a>
  </app-list-items>
</app-layout-main>
