.listPets{
    display: flex;
    flex-direction:column; 
    width: 100%;


    &__row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        line-height: 22px;
        //justify-content: space-between;        
        
        &__cell{
            display: flex;
            flex-direction: row;
            flex: 0 0 10%;
        
        }
    }

    &--header{
       font-weight: bolder; 
       margin-bottom: 10px;
    }
}