.listPets{
    display: flex;
    flex-direction:column; 
    width: 100%;


    &__row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        line-height: 75px;

        //justify-content: space-between;        
        &__cell{
            display: flex;
            flex-direction: row;
            flex: 0 0 17%;
            
            &__image{
                width: 70px;
                height: 70px;
            }

            .fa{
                font-size:24px;
                padding-left: 10px;
                padding-top: 20px;
            }
        }
       
        &:hover{
            background-color: linen;
            cursor: pointer;
        }
    }

    &__pagination{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        @media (max-width: 600px) {
            flex-direction: column;
         }
    
        &__button {
            border: 1px solid red;
            cursor: pointer;
            padding: 10px 35px;
            margin-right: 30px;
                        
            &--disable{
              background: grey;
              pointer-events: none;  
            }
        }
     
    }

    &--header{
       font-weight: bolder; 
       margin-bottom: 10px;
    }


}