<ng-template #header>
    <app-list-items [direction]="'v'" >
        <div *appItem>
            Enlaces
         </div>
         <a href="#" *appItem>Link aside a...</a>
         <a href="#" *appItem>Link aside b...</a>
         <a href="#" *appItem>Link aside c...</a>

    </app-list-items>
</ng-template>

<ng-template #main>
 FOTTT
 <app-list-items [direction]="'v'" >
    <div *appItem>
        CAMPOS
      </div>
  <input type="text" value="enter" *appItem />
  <input type="text" value="nombre" *appItem />
  <input type="text" value="apellido" *appItem />


</app-list-items>



</ng-template>
<app-layout-main [headerTemp]="header" [mainTemp]="main"  ></app-layout-main>
