

.headercontainer{
  background-color: black;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__logo{
    flex: 0 0 15%; 

  }
  &__title{
    flex: 1 0 0;
    font-size: 80px;
    color: white;
  }
}

a{
  margin-right: 20px;
}
.img {
 height: 100%;
  background-image: url(/assets/HEAD-SEL.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   }

