<div class="main">
  <ng-template #main>MAIN SECTION</ng-template>
  <ng-template #asideright>Aside right section</ng-template>
  <ng-template #asideleft>Aside left section</ng-template>
  <ng-template #header>
    TITULO
  </ng-template>
  <ng-template #footer>
    <app-list-items>
      <button *appItem>Aceptar</button>
      <button *appItem>Cancelar</button>
    </app-list-items>
  </ng-template>

  <app-layout-main [mainTemp]="main" [footerTemp]="footer" [type]="'CARD'"></app-layout-main>
  <app-layout-main [type]="'CARD'"
    [mainTemp]="main"
    [headerTemp]="header"
    [footerTemp]="footer"
    [asideRightTemp]="asideright"
    [asideLeftTemp]="asideleft"
    fxFlexFill
  ></app-layout-main>

  <app-layout-main [mainTemp]="main" [headerTemp]="header" [footerTemp]="footer" [type]="'CARD'"></app-layout-main>

  <app-layout-main [mainTemp]="main" [headerTemp]="header"  [type]="'CARD'"></app-layout-main>

  <app-layout-main [mainTemp]="main" [headerTemp]="header" [asideLeftTemp]="asideleft"
  [aside.left.width]="40" [type]="'CARD'"></app-layout-main>
</div>
