.main{
 // height: 60vh;
 // width: 50vw;;
  padding: 30px;
  app-layout-main{
    margin-left: 60px;
    width: 300px;
    //height: 200px;
    display: inline-block!important;
    border: 0.5px solid grey;
    vertical-align: top;
  }
}
